.pembatas{
  display: flex;
}
.kontainer{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    width: 25%;
}

.cardMovies{
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}
.addToFav{
    background-color: #db332e;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}
.subject{
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.categoriesCard{
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 20px;
    color: rgb(185, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
}
.realease{
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.detail{
    background-color: #56bb47;
    margin-top: 128px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    border-radius: 0px 0px 5px 5px;
}
.detail2{
    background-color: #56bb47;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    border-radius: 0px 0px 5px 5px;
}